@inherits LayoutComponentBase

@using BlazorBootstrap
@using Blazored.LocalStorage
@using DraftKings.LineupGenerator.Caching
@using DraftKings.LineupGenerator.Razor.Contests
@using DraftKings.LineupGenerator.Razor.Services

@inject ICacheService CacheService;
@inject ILocalStorageService LocalStorageService;
@inject IRecentContestService RecentContestService;
@inject ContestStateProvider ContestStateProvider;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Icon Name="IsConnected ? IconName.Wifi : IconName.WifiOff" Size="IconSize.x3" />
            <a href="https://github.com/jwoodman510/draftkings-lineup-generator" target="_blank">Github</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    [CascadingParameter]
    protected bool IsConnected { get; set; }

    protected override async Task OnInitializedAsync()
    {
        const string requiredStorageVersion = "v1";

        var storageVersion = await LocalStorageService.GetItemAsStringAsync(nameof(requiredStorageVersion));

        if (storageVersion != requiredStorageVersion)
        {
            await RecentContestService.RemoveAllAsync();
            await CacheService.ClearAsync(default);
            await LocalStorageService.ClearAsync(default);
            ContestStateProvider.Reset();

            await LocalStorageService.SetItemAsStringAsync(nameof(requiredStorageVersion), requiredStorageVersion);
        }
    }
}