.trash-container {
    text-align: end;
}

h3 {
    font-family: var(--font-title);
}

.contest-detail {
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: var(--font-light);
    background-color: var(--dark);
}

    .contest-detail .summary {
        color: var(--orange);
    }

    .contest-detail .money {
        color: var(--money-green);
    }

.generator-progress {
    margin: 20px 0;
    padding: 20px;
    min-height: 40px;
    background-color: var(--mid-grey);
}

.lineup-container {
    padding: 20px;
}

.actions {
    text-align: end;
}

.lineup-card {
    padding: 10px 20px;
    min-height: 200px;
    border-radius: 30px;
    background: var(--dark);
    color: var(--font-light);
}

    .lineup-card .aggregate {
        text-align: center;
    }

    .lineup-card .projected-points {
        color: var(--gold);
    }

    .lineup-card .salary {
        color: var(--money-green);
    }
