@page "/contests"

@using DraftKings.LineupGenerator.Api.Draftables
@using DraftKings.LineupGenerator.Models.Contests

@inject IContestsClient ContestsClient

@if (contestsSearchModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contest in contestsSearchModel.Contests)
            {
                <tr>
                    <td>@contest.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private ContestsSearchModel? contestsSearchModel;

    protected override async Task OnInitializedAsync()
    {
        contestsSearchModel = await ContestsClient.SearchAsync("NFL", default);
    }
}
