@page "/"

<h1>Hello, world!</h1>

TODO:
<li>
    some app description here
</li>
<li>
    start by looking for a contest -- router link here
</li>
<li>
    some recent contests
</li>
<li>
    some history items
</li>

