@page "/"

<h1>Hello, world!</h1>

TODO:
<li>
    check for internet access
</li>
<li>
    some app description here
</li>
<li>
    start by looking for a contest -- router link here
</li>
<li>
    some recent contests?
</li>
<li>
    Contest page navigated to when filtered & selected
</li>
<li>
    display results nav item if we're generating something
</li>