@page "/"

@using BlazorBootstrap;

<h1>Welcome to DKGEN</h1>

<div class="card-container">
    <Card>
        <img class="rounded-top" src="_content/DraftKings.LineupGenerator.Razor/images/turf.jpeg" />
        <CardBody>
            <CardTitle>Find a Contest</CardTitle>
            <CardText Class="text-muted">
                Get started by searching for a contest from one of the sports below
            </CardText>
            <CardLink To="contests?sportType=NFL">NFL</CardLink>
            <CardLink To="contests?sportType=CFB">CFB</CardLink>
            <CardLink To="contests?sportType=XFL">XFL</CardLink>
        </CardBody>
    </Card>
</div>
